{% extends "base.html" %}

{% block title %} Home {% endblock %}

{% block content %}
    <h2>We connect the world's top talent with the world's top organizations!</h2>


    <p>We connect elite talent with the most exciting companies in the world, including leading Fortune 500 brands and
        innovative Silicon Valley startups. Our focus on challenging, tier-one projects powers the world’s largest
        high-skilled workforce.
        <br><br>
        Our mission to create economic opportunities so people have better lives has taken us so much further. As a
        result, we’ve become the world’s work marketplace where every day businesses of all sizes and independent talent
        from around the globe meet here to accomplish incredible things.
            <br><br>
        Our mission to create economic opportunities so people have better lives has taken us so much further. As a
        result, we’ve become the world’s work marketplace where every day businesses of all sizes and independent talent
        from around the globe meet here to accomplish incredible things.
            <br><br>
        Our mission to create economic opportunities so people have better lives has taken us so much further. As a
        result, we’ve become the world’s work marketplace where every day businesses of all sizes and independent talent
        from around the globe meet here to accomplish incredible things.
            <br><br>
        Our mission to create economic opportunities so people have better lives has taken us so much further. As a
        result, we’ve become the world’s work marketplace where every day businesses of all sizes and independent talent
        from around the globe meet here to accomplish incredible things.
    </p>
{% endblock %}