{% extends "base.html" %}

{% block title %} History {% endblock %}

{% block content %}
    <table class="table table-hover table-responsive">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">&emsp;&emsp;&emsp;&emsp;Coin</th>
            <th scope="col">Price</th>
            <th scope="col">Date</th>
        </tr>
        </thead>
        <tbody>
        {% for datas in history_data %}
            <tr>
                <th scope="row">{{ history_data.index(datas) + 1 }}</th>
                <td><img src="{{ data_dict[datas['cryptoId']]['image'] }}" alt=""
                         style="width:30px; height:30px;">&emsp;&emsp;{{ data_dict[datas['cryptoId']]['symbol'].upper() }}
                </td>
                {% if datas['isPurchased'] == 1 %}
                    <td style="color: mediumseagreen;">{{ "+{:0.2f}".format(datas['amount']) }}</td>
                {% else %}
                    <td style="color: red;">{{ "{:0.2f}".format(datas['amount']) }}</td>
                {% endif %}
                <td>{{ datas['created'] }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}