{% extends "base.html" %}

{% block title %} Wallet {% endblock %}

{% block content %}
    <table class="table table-hover table-responsive">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">&emsp;&emsp;&emsp;&emsp;Coin</th>
            <th scope="col">Holdings</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for datas in portfolio %}
            <tr>
                <th scope="row">{{ portfolio.index(datas) + 1 }}</th>
                <td><img src="{{ data_dict[datas['cryptoId']]['image'] }}" alt=""
                         style="width:30px; height:30px;">&emsp;&emsp;{{ data_dict[datas['cryptoId']]['symbol'].upper() }}
                </td>
                <td>{{ "${:0.2f}".format(datas['amount']) }}</td>
                <td>
                    <a href="{{ url_for('wallet.modal', crypto_id = datas['cryptoId']) }}"
                       class="btn btn-outline-danger">Sell</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% block modal %} {% endblock %}
    {% block script %}{% endblock %}
{% endblock %}